@font-face {
  font-family: "Galano-med";
  font-display: auto;
  src: url("../fonts/Galano-Grotesque-Medium.otf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Regular";
  src: url("../fonts/HelveticaNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
